body {
    background-color: rgb(167, 8, 8);
  }
  
  header {
    border-bottom: solid 2px rgb(167, 8, 8);
    padding: 20px;
    font-size: 32px;
    color: rgb(167, 8, 8);
  }
  
  section {
    background: rgb(167, 8, 8);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }